
/**
 * Colors
 */
a,
a:visited {
	color: #5a4ef8;
}

a {
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}

blockquote {
    border-left: 5px solid #eaeaea;
    padding: 0.5em 2em;
    margin: 0 1.5em 1em 1.5em;
}

/**
 * Reset Tags
 */
body {
    background: #f1f1f1;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body,
button,
input,
select,
textarea {
    font-size: 1.2rem;
}

ul {
    margin: 0;
}

table, td, th {
    border: 1px solid #eaeaea;
    padding: 0.5em 1em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #5a4ef8;
    text-shadow: none;
    color: #fff;
    padding: 1em 2em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border-radius: 0;
    padding: 0.5em 1em;
}

/**
 * Layout
 */
@media ( min-width: 768px ) {
	#primary {
	    float: left;
	    width: 70%;
	    padding-right: 1em;
	}

	#secondary {
	    float: right;
	    width: 30%;
	    padding-left: 1em;
	}
}

/**
 * Site Content
 */

.site-content {
    max-width: 1300px;
    margin: 3em auto 0 auto;
    padding: 0 50px;

    @media ( max-width: 768px ) {
        padding: 0 2em;
    }

	article {
	    background: #fff;
	    padding: 1em 1.5em;
	}
}

/**
 * Page Title & Page Header
 */
.page-title {
    img {
        vertical-align: -0.5em;
        margin-right: 0.5em;
    }
}


.page-header {
    background: #fff;
    margin-bottom: 2em;
    padding: 1em 1.5em;

	p {
	    margin: 0;
	    color: #999;
	}
}



/**
 * Entry Title
 */
.entry-title,
.entry-title a {
    font-size: 2.2rem;
    text-transform: none;
    text-decoration: none;
    color: #32373c;
    margin: 0 0 0.3em 0;
}

/**
 * Entry Content
 */
.entry-content {
	line-height: 2;

	p {
	    margin: 0 0 0.5rem 0;
	}

	tt,
    code {
	    border: 1px solid #EEE;
	    border-radius: 3px;
	    background: #fffffc;
	    display: inline-block;
	    padding: 3px 5px;
	    max-width: 100%;
	    line-height: normal;
	}
}

/**
 * Entry Footer
 */
.entry-footer {
    font-size: 0.9rem;
    margin-top: 1em;

    i,
    a {
        color: #838383;
    }

    .fa-comments {
        margin-right: 0.2em;
    }
}

/**
 * Entry Meta
 */

.entry-meta {
	font-size: 0.9rem;
    i,
    a {
        color: #838383;
    }
    > span {
        margin-right: 0.5em;
    }
    i {
        margin-right: 0.5em;
    }
}

.byline img {
    vertical-align: -0.5em;
    margin-right: 0.5em;
    border-radius: 50%;
}

.nav-links {

    a,
    > span {
        background: #fff;
        padding: 0.5em 1em;
        display: inline-block;
        font-size: 1em;
        text-decoration: none;

        &:hover,
        &.current {
            color: #fff;
            background: #5a4ef8;
        }
    }

    .next i {
        margin-left: 0.2em;
    }

    .prev i {
        margin-right: 0.2em;
    }
}

.nav-previous i {
    margin-right: 0.5em;
}

.nav-next i {
    margin-left: 0.5em;
}
