.widget {
    background: #fff;
    padding: 1rem;
}

.widget-area {

	h2 {
	    margin: 0 0 0.5em 0;
	}

	ul {
		padding: 0 0 0 1em;
	}

	a {
	    font-size: 0.9em;
	    &:hover {
	    	box-shadow: 0px 2px 0px 0px #5a4ef5;
	    }
	}
}

input.search-submit {
	display: inline-block;
    padding: 0.7em 0.8em;
    line-height: normal;
    margin-top: 0.5em;
}

.search-form .search-field {
    width: 100%;
}