
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/**
 * Site Customization
 */
@import "0-site-normalize";
@import "1-header";
@import "2-footer";
@import "3-sidebar";
@import "4-single";
@import "5-archive";





/**
 * Temp
 */
/*.site-content {
	padding: 0 1em;
}
#secondary-left {
    width: 20%;
    float: left;
    padding-right: 30px;
}
#secondary-right {
    float: left;
    padding-left: 30px;
    width: 25%;
}
#primary {
    width: 100%;
    float: none;
    width: 55%;
    float: left;
    padding: 0;
}
.widget-area,.widget-area a, .widget-area p {
    font-size: 1rem;
}
.widget {
    padding: 1em 1.5em;
}
.widget-title {
    font-size: 1.5rem;
}
.entry-content {
    font-size: 1.1rem;
}*/