
/**
 * Site Header
 */
.site-header {
    background: $white-color;
    padding: 1em 2em;

    .menu {
	    margin-left: -1em;
	    margin-right: -1em;
	}
}

/**
 * Branding
 */
.site-branding {
    text-align: center;
    margin-bottom: 1.5em;
}

.site-title,
.site-description {
    margin: 0;
}

.site-title a {
    font-size: 3rem;
    text-decoration: none;
    font-weight: normal;
}

/**
 * Navigation
 */
.menu a {
    padding: 0 1em;
    line-height: 2;
    color: $menu-color;
}

.menu-item-has-children:after {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 0;
    top: 0.7em;
}

@media all and ( min-width: 768px ) {
    .main-navigation {
        text-align: center;
        float: none;

    	li {
    	    float: none;
    	    display: inline-block;
    	}

    	ul ul {
    	    background: $white-color;
    	    padding: 1em;

    		li {
    		    text-align: left;
    		    font-size: 0.9rem;
    		}
    	}
    }
}

/**
 * Custom Header
 */
.custom-headers {
    text-align: center;
    margin-top: 3em;
    line-height: 0;
}